<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="push.example.a99101.goodweather">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GoodWeather"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7xbH64MOsIy2KLFDZxEgdr3MQ4vYEfeU"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity
            android:name=".FirstActivity"
            android:label="FirstActivity"
            android:parentActivityName=".FirstActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="push.example.a99101.goodweather.FirstActivity"> </meta-data>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="SecondActivity"
            android:parentActivityName=".FirstActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="push.example.a99101.goodweather.FirstActivity"> </meta-data>
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:label="ThirdActivity"
            android:parentActivityName=".FirstActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="push.example.a99101.goodweather.FirstActivity"> </meta-data>
        </activity>
        <activity
            android:name=".FourthActivity"
            android:label="FourthActivity"
            android:parentActivityName=".FirstActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="push.example.a99101.goodweather.FirstActivity"> </meta-data>
        </activity>



    </application>

</manifest>